.header .user-mini-avatar,
.header .calendar-avatar {
    display: block !important;
    width: 30px !important; 
    height: 30px !important;
    border-radius: 50% !important;
    position: absolute !important;
    top: 0px !important; 
    left: 0px !important; 
    border: none !important;
    object-fit: cover !important;
    padding: 0 !important;
    margin: 0 !important;
}

.header .dropdown .btn.dropdown-toggle,
.header .dropdown .mobile-action-btn{
    padding: 0 !important;
    margin: 0 5px !important;
    height: 38px !important; 
    width: 38px !important;
    min-width: 38px !important;
    max-height: 38px !important;
    border-radius: 50% !important;
    top: 0px !important; 
    left: 0px !important;  
    overflow: hidden !important;
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    top: 2 !important; 
    border-radius: 50% !important;
    vertical-align: middle !important;
}

.header .dropdown .mobile-action-btn.avatar-button img.calendar-avatar,
.header .dropdown .mobile-action-btn.avatar-button img.user-mini-avatar {
    display: block !important;
    width: 35px !important; 
    height: 35px !important; 
    border-radius: 50% !important;
    position: absolute !important;
    top: 0px !important; 
    left: 0px !important; 
    border: none !important;
    object-fit: cover !important;
    padding: 0 !important;
    margin: 0 !important;
}

.header .header-mobile-actions {
    display: flex !important;
    align-items: center !important;
    height: 38px !important;
}

.header .d-flex.justify-content-between.align-items-center {
    align-items: center !important;
}

.header .btn-primary, 
.header .btn-outline-secondary, 
.header .btn-danger {
    height: 38px !important;
    display: flex !important;
    align-items: center !important;
}

@media (max-width: 576px) {
    .header .dropdown .btn.dropdown-toggle,
    .header .dropdown .mobile-action-btn,
    .header .dropdown .avatar-button {
        top: 7px !important; 
    }
}